* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

a{
  text-decoration: none!important;
}

.header{
  width: 100%;
  height: 60px;
  background: #5cb85c;
  border-color: #4cae4c;
  position: relative;
  margin: 0 0 50px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(97, 97, 97);
  -moz-box-shadow: 0 8px 6px -6px  rgb(97, 97, 97);
  box-shadow: 0 8px 6px -6px  rgb(97, 97, 97);

}
.container{
  width: 70% !important;
  margin: 0 auto;
  padding: 0 !important;
}

.container h1{
  color: #fff;
  line-height: 50px;
}

.containerHeading{
  width: 20%;
  height: 50px;
  background: #5cb85c;
  border-bottom: 1px dashed #ccc;
  text-align: center;

}
leble{
  float: left;
}
.headContainer{
  float: left;
}

.wrapper{
  height: 600px;
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.2), 1px 1px 10px 0px rgba(0,0,0,0.19);
}

.form-row.newNoteForm{
  width: 70%;
  margin: 0 auto;
}
.form-row.newNoteForm > form{
  width: 100%;
}

.form-group > .lbl{
  color: #828282;
  margin-bottom: 10px;
}

.btn-create{
  margin-left: 10px;
}

.form-group .textarea{
  height: 300px;
}
.containerBody{
  padding-top: 50px;
  height: 550px;
  background-color: rgba(245, 238, 218, 0.5);
}


.errContainer{
  width: 70%;
  margin: 0 auto;
  position: relative;
  height: 50px;
}

.errMsg{
  color: red;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.formContainer{
  width: 70%;
  margin: 0 auto;
}

.header .container a{
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  font-size: 2em;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #337ab7;
  text-decoration: none;
}


a:active, a:hover {
  outline: 0;
}
.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.login{
  width: 40px;
}
.lfloat{
  float: left;
}
.rlfoat{
  float: right;
}
.logout,.myNotes{
  width: 15%;
  position: relative;
  height: inherit;
  top:0;
  text-align: center;
  line-height: 60px;
}

.header .logout a,.header .myNotes a{
  color: #fff;
  text-decoration: none;
}

.h3, h3 {
  font-size: 24px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.newCards {
  display: inline-block;
  width: 18%;
  min-width: 180px;
  margin-right: 2%;
  margin-bottom: 10px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-shadow: 1px 1px 1px 1px #ccc;
  cursor: pointer;
}

.newCards:hover{
  box-shadow: 2px 2px 1px 1px #ccc;
}

.cardContainer{
  width: 150px;
  margin: 0 auto;
}
.cardContainer img{
  width: 100%;
}
//down arrow

.arrow{
  width: 0px;
  height: 0px;
  content: "";
  border-top:10px solid #111;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-success:hover, .btn-success:focus {
  color: #fff;
}

.title {
  font-size: 300%;
  margin: 100px 0 15px;
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  margin: 50px auto;
  text-align: center;
}

button > a {
  color: white;
}

footer {
  bottom: 0;
  position: fixed;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  height: 30px;
}

footer a{
  color: #5cb85c;
  line-height: 30px;
}

footer a:hover{
  color: #5cb85c;
  text-decoration: none;

}

.new_card {
  text-align: center;
  margin: 50px 0 15px;
}

.new_card > .new_title {
  font-size: 200%;
  margin-bottom: 20px;
}

.new_card img {
  max-width: 200px;
  max-height: 200px
}

form > input{
  font-size: 14px;
  line-height: 1.42857143;
  height: 34px;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.delete-card {
  margin-top: 10px;
}

form {
  margin: 50px auto;
}

.form-group {
  flex-grow: 1;
  padding-left: 10px;
  text-align: left;
  margin-bottom: 15px;
}

.form-row {
  margin-left: -10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea.form-control {
  height: auto;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.cards,
.card-images,
.form-row {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;

}
.form-row {
  width: 250px;
  margin: 0 auto;
}
.register{
  margin: 0 auto;

}

.form-row.newForm{
  width: 50%;
  float: left;
}

.form-group{
  width: 100%;
}
.cards {
  padding-left: 25px;
}

.card-images > label {
  margin-right: 2%;
  border: 2px solid #03A9F4;
}
.card-images > label > input {
  margin-right: 10px;
}
.cards > li {
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #ddd;
  margin-right: 25px;
  padding: 15px;
  float: left;
  min-width: 250px;
}
.cards > li > img {
  max-width: 250px;
}

.user,
.login {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 160px;
}

.user > img {
  border-radius: 50%;
  float: left;
}

.user .welcome {
  float: left;
  text-align: center;
}

.user .logout {
  text-align: center;
}

.user > .text {
  float: left;
  margin: 20px 0 0 15px;
}

.promo {
  margin-top: 30px;
  text-align: center;
}

.card .recipient {
  margin-bottom: 10px;
}

.card > .actions {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card > .actions > a {
  margin-right: 10px;
}

form > input[type=file] {
  height: auto;
}

header {
  height: 110px;
  margin-left: 25px;
}

.main-card-image {
  text-align: center;
}

.main-card-image > img {
  max-width: 85%;
}


/*myNotes*/

.headingList{
  width: 20%;
  height: 550px;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  box-shadow: 6px 0px 6px -7px rgb(97, 97, 97)
}

/*SCROLL*/

#scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar
{
  width: 10px;
	background-color: ##5cb85c;
}

#scroll::-webkit-scrollbar-thumb
{
  background-color: #5cb85c;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.headingList .nav-tabs{
  border: none;
}
.headingList .nav-tabs li{
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 0px 0px #cac6c6;
  cursor: pointer;
}

.headingList .nav-tabs li:hover{
  background: #eee;
}

.headingList .nav-tabs li a{
  display: inline-block;
  color: #5cb85c;
  border: none;
  line-height: normal;
}


.headingList .nav-tabs li a:first-child{
  width: 80%;
}

.headingList .nav-tabs li a:last-child{
  width: 20%;
}

.headingList .nav-tabs li a:link,
.headingList .nav-tabs li a:visited,
.headingList .nav-tabs li a:hover,
.headingList .nav-tabs li a:active
{
  border:none;
  background: none;
}

.headingList .nav-tabs li a.delete{
  position: absolute;
  right: 0;
  right: 0;
  margin: 0;
}

.headingList .nav-tabs li a.delete:hover{
  background: #ccc;
  border-radius: 0;
}

.glyphicon{
  line-height: normal;
}

.notePreview{
  width: 80%;
  height: 600px;
  position: relative;
  top: -50px;
}
.notePreview .noteHeading{
  width: 100%;
  height: 50px;
  padding: 20px;
  color: #fff;
  background: #5cb85c;
  position: relative;
  border-left:1px dashed #ccc;
  border-bottom:1px dashed #ccc;
}

.newNoteLink{
  width: 100px;
  position: absolute;
  right: 0;
  color: #fff;
}

.newNoteLink a{
  color: #fff;
}

.fullHeading{
  width: 100%;
  height: 50px;
  background: #5cb85c;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}

.notePreview .noteValue{
  width: 100%;
  height: 500px;
  position: relative;
  color: #337ab7;
  padding: 100px;
}

.notePreview .noteValue p{
  line-height: 25px;
  white-space: pre;
}

/*.headingList ul{
list-style: none;
width: 100%;
}

.headingList ul > li{
width: 100%;
}*/
